<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EYEBALL_INVENTORY.Properties.Settings.eyebinventoryConnectionString"
            connectionString="server=localhost;user id=root;database=eyebinventory"
            providerName="MySql.Data.MySqlClient" />
        <add name="EYEBALL_INVENTORY.Properties.Settings.eyebinventoryConnectionString1"
            connectionString="Driver={MySQL ODBC 5.3 ANSI Driver};uid=root;database=eyebinventory;port=3306"
            providerName="System.Data.Odbc" />
        <add name="EYEBALL_INVENTORY.Properties.Settings.iBallInventoryConnectionString"
            connectionString="server=localhost;user id=iballadmin32;password=iball32code;persistsecurityinfo=True;database=eyebinventory"
            providerName="MySql.Data.MySqlClient" />
        <add name="EYEBALL_INVENTORY.Properties.Settings.iBallinventoryConnString"
            connectionString="server=localhost;user id=iballadmin32;password=iball32code;database=eyebinventory;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>